body {
    font-size: 14px;
}

.feather {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 60px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

.sidebar .nav-link .feather {
    margin-right: 8px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: #007bff;
}

.sidebar-heading {
    font-size: 12px;
    text-transform: uppercase;
}

[role="main"] {
    padding-top: 60px;
}

.navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    background-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.navbar .form-control {
    padding: 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table tr th,
table tr td {
    border: 1px solid #dee2e6;
}

table tr th:first-child,
table tr td:first-child {
    border-left: 0;
}

table tr th {
    border-top: 0;
}

table tr:first-child th:first-child {
    border-top-left-radius: 0.25rem;
}

table tr:first-child th:last-child {
    border-top-right-radius: 0.25rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 0.25rem;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 0.25rem;
}

textarea {
    width: 200px;
    height: 150px;
}
