<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard | Store System</title>
        <!-- bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"/>
        <!-- css -->
        <link rel="stylesheet" th:href="@{/style/main.css}" />

        <script src="https://unpkg.com/feather-icons"></script>
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 p-3" th:href="@{/}"
               >Store System</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" th:href="@{/login}">Sign out</a>
                </li>
            </ul>
        </nav>
        <!-- dashboard -->
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link"> Dashboard </a>
                            </li>
                            <!-- computer -->
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="dollar-sign"></span>
                                    Transaksi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/product/index}">
                                    <span data-feather="box"></span>
                                    Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customer/index}">
                                    <span data-feather="user"></span>
                                    Customer
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="d-flex justify-content-between
                         flex-wrap flex-md-nowrap
                         align-items-center
                         pt-3
                         pb-2
                         mb-3
                         ml-3
                         border-bottom
                         "
                         >
                        <h1 class="h1 pt-3">Data Transaksi</h1>
                    </div>
                    <div class="container my-2">
                        <a th:href="@{/sales/new}" class="btn btn-primary mb-3" style="color: white">Tambah Transaksi</a>
                        <input class="form-control mb-3" type="text" id="searchInput" placeholder="Cari" />
                        <table class="table table-bordered table-responsive-md rounded">
                            <thead class="thead-light text-center ">
                                <tr>
                                    <th rowspan="2">No Transaksi</th>
                                    <th rowspan="2">Kode Barang</th>
                                    <th rowspan="2">Tanggal</th>
                                    <th rowspan="2">Nama Customer</th>
                                    <th rowspan="2">Jumlah Barang</th>
                                    <th rowspan="2">Sub Total</th>
                                    <th rowspan="2">Diskon</th>
                                    <th rowspan="2">Ongkir</th>
                                    <th rowspan="2">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="row:${rows}">
                                    <td th:text="${row.sales.code}"></td>
                                    <td th:text="${row.product.code}"></td>
                                    <td th:text="${row.sales.trxDate}"></td>
                                    <td th:text="${row.sales.customer.name}"></td>
                                    <td th:text="${row.qty}"></td>
                                    <td th:text="${row.sales.subTotal}"></td>
                                    <td th:text="${row.sales.diskon}"></td>
                                    <td th:text="${row.sales.ongkir}"></td>
                                    <td th:text="${row.sales.paymentTotal}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <script>
            feather.replace();
        </script>
        <script>
            // Fungsi pencarian
            function searchTable() {
                // Mendapatkan input pencarian
                var input = document.getElementById("searchInput");
                var filter = input.value.toUpperCase();

                // Mendapatkan tabel
                var table = document.getElementsByTagName("table")[0];

                // Mendapatkan baris data
                var rows = table.getElementsByTagName("tr");

                // Menyimpan total pembayaran unik berdasarkan kode transaksi
                var paymentTotals = {};

                // Iterasi melalui semua baris dan menyembunyikan yang tidak cocok dengan pencarian
                for (var i = 1; i < rows.length; i++) { // Start from index 1 to exclude the header row
                    var cells = rows[i].getElementsByTagName("td");
                    var match = false;
                    for (var j = 0; j < cells.length; j++) {
                        var cell = cells[j];
                        if (cell) {
                            var cellText = cell.textContent || cell.innerText;
                            if (cellText.toUpperCase().indexOf(filter) > -1) {
                                match = true;
                                break;
                            }
                        }
                    }
                    if (match) {
                        rows[i].style.display = "";
                        var codeCell = rows[i].getElementsByTagName("td")[0]; // Kolom "Kode Transaksi"
                        var code = codeCell.textContent || codeCell.innerText;
                        var paymentCell = rows[i].getElementsByTagName("td")[8]; // Kolom "Total Pembayaran"
                        var paymentTotal = parseFloat(paymentCell.textContent || paymentCell.innerText);
                        if (!isNaN(paymentTotal) && !(code in paymentTotals)) {
                            paymentTotals[code] = paymentTotal;
                        }
                    } else {
                        rows[i].style.display = "none";
                    }
                }

                // Menghitung ulang grand total berdasarkan total pembayaran yang sesuai dengan pencarian
                var grandTotal = calculateGrandTotal(paymentTotals);

                // Menampilkan grand total di bagian bawah tabel
                displayGrandTotal(grandTotal);
            }

// Menghitung grand total berdasarkan total pembayaran unik
            function calculateGrandTotal(paymentTotals) {
                var grandTotal = 0;
                for (var code in paymentTotals) {
                    if (paymentTotals.hasOwnProperty(code)) {
                        grandTotal += paymentTotals[code];
                    }
                }
                return grandTotal;
            }

// Menampilkan grand total di bagian bawah tabel
            function displayGrandTotal(grandTotal) {
                var table = document.getElementsByTagName("table")[0];

                // Menghapus tfoot yang ada
                var tfoot = table.getElementsByTagName("tfoot")[0];
                if (tfoot) {
                    table.removeChild(tfoot);
                }

                // Membuat tfoot baru
                tfoot = table.createTFoot();
                var row = tfoot.insertRow(0);
                var cell = row.insertCell(0);
                cell.colSpan = "9";
                cell.innerHTML = "<strong>Grand Total: " + grandTotal.toFixed(2) + "</strong>";
            }

// Mendengarkan perubahan pada input pencarian
            document.getElementById("searchInput").addEventListener("input", searchTable);

// Menjalankan fungsi searchTable saat halaman dimuat
            window.onload = function () {
                searchTable();
            };
        </script>
    </body>
</html>
