<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page | Store System</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
    
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form th:action="@{/registration}">
          <h1 style="margin-bottom: 50px;">Create Account</h1>
          <button class=mt-3>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="post">
        <!-- error message -->
     <div th:if="${param.error}">
      <div class="alert alert-danger">Invalid username or
       password.</div>
     </div>
    
     <!-- logout message -->
     <div th:if="${param.logout}">
      <div class="alert alert-info">You have been logged out.</div>
     </div>
          <h1 style="margin-bottom: 40px">Sign in</h1>
          <input type="text" placeholder="Enter User Name" id ="username" name = "username" class="form-control" />
          <input type="password"  id="password" name="password" class="form-control" placeholder="Enter Password" />
          <button type="submit" style="margin-top:50px;">Sign In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
          <a href="/" th:href="@{/registration}"></a>
            <h1 style="margin-bottom: 145px">Hello, Friend<br>Welcome !</h1>
            <span style="margin-bottom: 10px; margin-top:0;">New user ? </span>
            <button class="ghost" id="signUp" style="margin-bottom:50px;">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script th:src="@{/js/main.js}"></script>
</html>
