<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Product | Store System</title>
        <!-- bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
            />
        <!-- css -->
        <link rel="stylesheet" th:href="@{/style/main.css}" />

        <script src="https://unpkg.com/feather-icons"></script>
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 p-3" href="#"
               >Store System</a
            >
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>
            </ul>
        </nav>
        <!-- dashboard -->
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link"> Dashboard </a>
                            </li>
                            <!-- computer -->
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sales/index}">
                                    <span data-feather="dollar-sign"></span>
                                    Transaksi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="box"></span>
                                    Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customer/index}">
                                    <span data-feather="user"></span>
                                    Customer
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div
                        class="
                        ml-3
                        d-flex
                        justify-content-between
                        flex-wrap flex-md-nowrap
                        align-items-center
                        pt-2
                        mb-3
                        border-bottom
                        "
                        >

                        <h1 class="h1 pt-3">Tambah Produk Baru</h1>
                    </div>
                    <div class="container">
                        <form action="#" th:action="@{/product/save}" th:object="${row}" method="POST">
                            <label for="category">Name</label>
                            <input
                                type="text"
                                th:field="*{name}"
                                placeholder=""
                                class="form-control mb-4 col-4"
                                />
                            <label for="category">Kode</label>
                            <input
                                type="text"
                                th:field="*{code}"
                                placeholder=""
                                class="form-control mb-4 col-4"
                                />
                            <label for="category">Price</label>
                            <input
                                type="text"
                                th:field="*{price}"
                                placeholder=""
                                class="form-control mb-4 col-4"
                                />
                            <button type="submit" class="btn btn-warning col-4 mb-4">Save</button>
                            <br>
                            <a th:href="@{/product/index}">
                                <span data-feather="arrow-left-circle"></span>  Back to Device List</a>
                        </form>
                    </div>
                </main>
            </div>
        </div>
        <script>
            feather.replace();
        </script>
    </body>
</html>
