<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product | Store System</title>
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/style/main.css}" />

    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a
        class="navbar-brand col-sm-3 col-md-2 mr-0 p-3"
        th:href="@{/}"
        >Store System</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" th:href="@{/login}">Sign out</a>
        </li>
      </ul>
    </nav>
    <!-- dashboard -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="" class="nav-link"> Dashboard </a>
              </li>
              <!-- computer -->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/sales/index}">
                  <span data-feather="dollar-sign"></span>
                  Transaksi
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="box"></span>
                  Product
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/customer/index}">
                  <span data-feather="user"></span>
                  Customer
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div
            class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pt-3
              pb-2
              mb-3
              ml-3
              border-bottom
            "
          >
            <h1 class="h1 pt-3">Data Product</h1>
          </div>

          <div class="container my-2">
            <a
              th:href="@{/product/new}"
              class="btn btn-primary mb-3"
              style="color: white"
              >Tambah Product</a
            >
            <table class="table table-bordered table-responsive-md rounded">
              <thead class="thead-light text-center">
                <tr>
                  <th>Id</th>
                  <th>Kode</th>
                  <th>Nama</th>
                  <th>Harga</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="product:${products}">
                  <td th:text="${product.id}"></td>
                  <td th:text="${product.code}"></td>
                  <td th:text="${product.name}"></td>
                  <td th:text="${product.price}"></td>
                  <td class="text-center">
                    <a
                      th:href="@{/product/edit/{id}(id=${product.id})}"
                      class="btn btn-primary btn-sm mb-3 mr-2"
                      >Update</a
                    >
                    <a
                      th:href="@{/product/delete/{id}(id=${product.id})}"
                      class="btn btn-danger btn-sm mb-3 ml-2"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
    <script>
      feather.replace();
    </script>
  </body>
</html>
