<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Transaksi | Store System</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous" />
        <!-- css -->
        <link rel="stylesheet" th:href="@{/style/main.css}" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 p-3" href="#">Store System</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="/login">Sign out</a>
                </li>
            </ul>
        </nav>
        <!-- dashboard -->
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link"> Dashboard </a>
                            </li>
                            <!-- computer -->
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="dollar-sign"></span> Transaksi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/product/index}">
                                    <span data-feather="box"></span> Product
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customer/index}">
                                    <span data-feather="user"></span> Customer
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- content -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="ml-3 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-3 border-bottom">
                        <h1 class="h1 pt-3">Transaksi</h1>
                    </div>
                    <div class="container">
                        <form id="salesForm" action="#" th:action="@{/sales/save}" th:object="${row}" method="POST">
                            <label for="category">Tanggal</label>
                            <div class="form-group row col-md-5">
                                <input class="form-control" type="date" th:field="*{sales.trxDate}" required="true">
                            </div>
                            <div class="form-group row col-md-7">
                                <button type="button" id="selectCustomerLink" class="btn btn-primary mb-3 col-3" data-toggle="modal" data-target="#customerModal">
                                    Select Customer
                                </button>
                            </div>
                            <label for="category">Nama Customer</label>
                            <div class="form-group row col-md-7">
                                <input id="customerId" th:field="*{sales.customer.id}" class="form-control" type="hidden" readonly>
                                <input id="customerCode" th:field="*{sales.customer.code}" class="form-control" type="hidden" readonly>
                                <input id="customerName" th:field="*{sales.customer.name}" class="form-control" type="text" readonly>
                            </div>
                            <label for="category">Nomer Telepon</label>
                            <div class="form-group row col-md-7">
                                <input id="customerPhone" th:field="*{sales.customer.phoneNumber}" class="form-control" type="text" readonly>
                            </div>
                            <div>
                                <table id="detailsTable" class="table">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">
                                                <button type="button" id="selectProduct" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
                                                    Add Product
                                                </button>
                                            </th>
                                            <th rowspan="2">No</th>
                                            <th rowspan="2">Kode Barang</th>
                                            <th rowspan="2">Nama Barang</th>
                                            <th rowspan="2">Qty</th>
                                            <th rowspan="2">Harga Bandrol</th>
                                            <th colspan="2">Diskon</th>
                                            <th rowspan="2">Harga Diskon</th>
                                            <th rowspan="2">Total</th>
                                        </tr>
                                        <tr>
                                            <th>%</th>
                                            <th>Rp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="details" th:each="detail, detailStat : ${details}">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <label for="category">Sub Total</label>
                            <div class="form-group row col-md-7">
                                <input id="subTotal" th:field="*{sales.subTotal}" class="form-control" type="number" readonly>
                            </div>
                            <div class="form-group row col-md-7">
                                <label for="category">Diskon</label>
                                <input id="diskon" th:field="*{sales.diskon}" class="form-control" type="number">
                                <label for="category">Ongkir</label>
                                <input id="ongkir" th:field="*{sales.ongkir}" class="form-control" type="number">
                            </div>
                            <div class="form-group row col-md-7">
                                <label for="category">Total Bayar</label>
                                <input id="totalPayment" th:field="*{sales.paymentTotal}" class="form-control" type="number" readonly="">
                            </div>
                            <button type="submit" class="btn btn-warning col-4 mb-4">Save</button>
                            <br>
                            <a th:href="@{/sales/index}"><span data-feather="arrow-left-circle"></span> Back to Transaksi List</a>
                        </form>
                    </div>
                </main>
            </div>
        </div>

        <!-- Customer Modal -->
        <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel"
             aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="customerModalLabel">Select Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nama</th>
                                        <th>Nomer Telepon</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="customer : ${customers}">
                                        <td th:text="${customer.id}"></td>
                                        <td th:text="${customer.name}"></td>
                                        <td th:text="${customer.code}" style="display: none;"></td>
                                        <td th:text="${customer.phoneNumber}"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary selectCustomerBtn">Select</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeCustomerSelect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
             aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">Add Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nama</th>
                                        <th>Harga</th>
                                        <th>Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${products}">
                                        <td th:text="${product.id}"></td>
                                        <td th:text="${product.name}"></td>
                                        <td th:text="${product.price}"></td>
                                        <td th:text="${product.code}"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary selectProductBtn">Select</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeProductBtn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
            
            $(document).ready(function () {
                // Cek apakah ada produk yang dipilih sebelum submit
                $('#salesForm').submit(function (event) {
                    var rowCount = $('#detailsTable tbody tr').length;
                    if (rowCount === 0) {
                        event.preventDefault(); // Mencegah pengiriman form jika tidak ada produk yang dipilih
                        alert('Pilih setidaknya satu produk sebelum menyimpan.'); // Menampilkan pesan peringatan
                    }
                });
            });
        </script>
        <script th:src="@{/js/sales.js}"></script>
        <script>
            feather.replace();
        </script>
    </body>
</html>
